*{
	margin: 0;
	padding: 0;
}

body {
background: transparent url(images/static-background.jpg) no-repeat center top;
	font-family: 'Open Sans', sans-serif;
	background: #fbfcfc;
	min-width: 978px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	max-width: 10000px;
	max-height:1000000px;
	margin: 0 auto;
}

header {
	background: #0066FF;
	 width:100%;
}

a.logo {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #fff;
	text-align: left;
	text-decoration: none;
	text-transform: capitalize;
	float: left;
	padding: 0 0 0 10px;
}

.navbar ul{
	float: right;
	margin: 0;
	padding: 0 20px 0 0;
	list-style: none;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	padding: 10px 10px;
	color: #2c3e50;
	text-decoration: none;
}

.navbar li a:hover {
	color: #ccc;
}

.content p {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 20px;
	font-size: 14px;
	color: #2c3e50;
	line-height: 1.7;
}

.social-media ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.footer {
	background: #95a5a6;
	padding: 10px 0;
}

.social-media ul li {
	float: left;
}

.social-media ul li a {
	margin: 0 10px;
}